<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/style.css">
    <title>Weather App</title>
</head>

<body>

    <div class="search__container">
        <p class="search__title">
            Go ahead, search for city weather
        </p>
        <form action="/" method="post">
            <input class="search__input" type="text" placeholder="Search" name="searchBar">
        </form>
        
    </div>
    <main id="main">
    </main>

    <div id="searchCard" style="display: none;">
    </div>

    <script src="/app.js"></script>

    <script>
        $(document).ready(function() {
            var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };

            function success(pos) {
                var {
                    latitude,
                    longitude,
                    // accuracy
                } = pos.coords;
                console.log(pos)
                    // console.log('Your current position is:');
                console.log(`Latitude : ${latitude}`);
                console.log(`Longitude: ${longitude}`);
                // console.log(`More or less ${accuracy} meters.`);

                fetch('/default', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            longitude,
                            latitude
                        }),
                    })
                    .then(response => response.json())
                    .then(data =>generateHtml(data))

                    fetch('/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            searchData
                        }),
                    })
                    .then(response => response.json())
                    .then(data => generateSearch(searchData))
            }

            function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
            }

            navigator.geolocation.getCurrentPosition(success, error, options);
        })

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        function generateHtml(data) {
            document.getElementById('main').innerHTML = `
              <div class="card" style="background-image: url(${data.photo});">
                <div class="style">
                    <!--<img src="${data.photo}" class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title">
                        ${data.city},
                        ${data.country} <img src="" alt="" class="icon"></h5>
                        <!--<p class="card-text">The Heart of Canada</p>-->
                    </div>
                    <img alt="Weather Icon" class="weather-icon" src="http://openweathermap.org/img/wn/${data.icon}@2x.png">
                    <p class="weather-data"><i class="fas fa-temperature-low"></i>
                        <span class="text-space">${data.temperature}℃</span> / <span class="text-space"><i class="fas fa-tint"></i> ${data.humidity}%</span> / ${data.description}
                    </p>
                </div>
            </div>
              `
        };

        function generateSearch(searchData) {
            document.getElementById('searchCard').innerHTML = `
              <div class="card" style="background-image: url(${searchData.photo});">
                <div class="style">
                    <div class="card-body">
                        <h5 class="card-title">
                        ${searchData.city}, ${searchData.country}</h5>
                    </div>
                    <img alt="Weather Icon" class="weather-icon" src="http://openweathermap.org/img/wn/${searchData.icon}@2x.png">
                    <p class="weather-data"><i class="fas fa-temperature-low"></i>
                        <span class="text-space">${searchData.temperature}℃</span> / <span class="text-space"><i class="fas fa-tint"></i> ${searchData.humidity}%</span> / ${searchData.description}
                    </p>
                </div>
            </div>
              `
        };
    </script>
</body>

<footer>
    <p>created by <a href="https://jkalandarov.github.io/cv/" target="_blank">Jasurbek Kalandarov</a></p>
</footer>

</html>